@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #000000;

    --primary: #3a63ed;
    --secondary: #808080;
    --tetriary: #f5f5f5;

    --transparent: rgba(0, 0, 0, 0.5);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tetriary: var(--tetriary);

    --color-transparent: var(--transparent);

    --font-public-sans: var(--font-public-sans);
}

@layer components {
    .btn-primary {
        @apply px-4 py-3.5 bg-primary rounded-full text-background;
    }

    .card-shadow {
        box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.08);
    }

    .snap-container {
        scroll-snap-type: both mandatory;
        overscroll-behavior: contain;
    }

    .snap-container::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
    .select {
        @apply p-3.5 flex items-center gap-x-2 rounded-2xl bg-tetriary;
    }

    input:focus,
    select:focus {
        outline: none;
    }

    input[type='date']::-webkit-inner-spin-button,
    input[type='date']::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-public-sans);
}
